
body  {
  /*margin:10px;*/
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
  background-color: #FDF892;
}

.questionView {
  margin-top:15px;
}

.answerView {
  margin:5px;
}

#txtAddDescriptionQuestion, #txtDescription {
  display:none;
}

.vAlign {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
}

#btnDeleteItem {
  margin-right:5px;
}

.alternateColor a:nth-child(odd) {
  background: #EFF5F7;
}

.alternateColor a:nth-child(odd):hover {
  background-color: #FDF892;
}


.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
}

.nav-tabs {
  margin-bottom: 0;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.panel-default, .navbar {
  border-radius: 5px;
}

.input-group .form-control {
  z-index: 5;
}

.nothing {
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: #E6E6E6;
}



@media (min-width: 500px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}