<form class="question-view-form">
    <div class="panel panel-default">

        <div class="panel-body question-view-form-content">

            <div class="panel panel-default question-info">
                <div class="panel-body">
                    <span><h4>{{question.label}}</h4></span>
                    <span><h5>{{user.from}}</h5></span>
                    <span><h5>{{user.to}}</h5></span>
                </div>
            </div>

            <div class="form-group">

                <tabset>

                    <tab heading="Answers">

                        <div ng-if="totValue==0" class="form-group" >
                            <div class="nothing text-center bg-info">
                                <h5>
                                    No response received
                                </h5>
                            </div>
                        </div>

                        <div ng-if="totValue>0" class="chart-container">
                            <canvas id="pie1" class="chart chart-pie"
                                    chart-data="results.data" chart-labels="results.labels" chart-legend="true">
                            </canvas>
                        </div>

                        <span><h5>Your answer:</h5></span>

                        <div class="form-group" as-sortable="sortableOptions" ng-model="question.answers">
                            <div class="form-group votes" ng-repeat="answer in question.answers" as-sortable-item>
                                <button tabindex="-1" ng-click="vote(answer)" type="button" ng-class="selectedByMe(answer) ? 'btn-primary' : 'btn-default'" class="btn btn-block">{{answer.label}}</button>
                            </div>
                        </div>

                    </tab>

                </tabset>

            </div>

        </div>
    </div>
</form>