<nav class="panel panel-default" role="navigation">
    <div class="container-fluid">

        <div class="pull-left" ng-if="hasLeftButtons()">

            <!--<span class="user.info">{{username}}</span>-->

            <button type="button" class="btn btn-default navbar-button" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <button ng-repeat="button in leftbuttons" ng-click="navAction(button.action)" id="" type="button" ng-class="button.buttonClass">
                <span class="{{button.spanClass}}"></span> {{button.title}}
            </button>

        </div>

        <a class="navbar-brand" ng-click="noop()" ng-bind-html="haveBranding()"></a>

        <div class="pull-right" ng-if="hasButtons()">

            <!--<span class="user.info">{{username}}</span>-->

            <button ng-repeat="button in buttons" ng-click="navAction(button.action)" id="" type="button" ng-class="button.buttonClass">
                <span class="{{button.spanClass}}"></span> {{button.title}}
            </button>

        </div>

    </div>
</nav>