<form class="questionList-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">
                    <button id="btnAdd" type="button" class="btn btn-primary pull-right" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add question</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                    <tabset>

                        <tab heading="Your questions">
                            <div class="list-group alternateColor">

                                <div ng-if="questions.length==0" class="form-group" >
                                    <div class="nothing text-center">
                                        <h5>
                                            Click on
                                            <br/><br/>
                                            <button id="btnAdd" type="button" class="btn btn-primary" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> Add question</button>
                                            <br/><br/>to add your first question
                                        </h5>
                                    </div>
                                </div>

                                <a ui-sref="question({ id: question._id })" class="list-group-item" ng-repeat="question in questions">{{question.label}}</a>

                            </div>

                            <button ng-if="questions.length>0" id="btnLoadMore" type="button" class="btn btn-primary" ng-click="loadMore()"><span class="glyphicon glyphicon-download"></span> Load more</button>

                        </tab>

                        <tab heading="Your answers">
                            work in progress...
                        </tab>

                    </tabset>

                </div>
            </div>
         </div>
    </div>
</form>

