<form class="question-form">
    <div class="panel panel-default">

        <div class="panel-heading">
            <span><h4>{{question.label}}</h4></span>
        </div>

        <div class="panel-body">

            <div class="form-group">

                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#tabAnswer">Your answer</a></li>
                    <li role="presentation"><a data-toggle="tab"  href="#tabAllAnswers">Results</a></li>
                </ul>

                <div class="tab-content">

                    <div id="tabAnswer" class="tab-pane active">

                        <div class="form-group" as-sortable="sortableOptions" ng-model="question.answers">
                            <div class="form-group" ng-repeat="answer in question.answers" as-sortable-item>
                                <button tabindex="-1" ng-click="vote(answer._id)" type="button" ng-class="answer.selected ? 'btn-primary' : 'btn-default'" class="btn btn-block">{{answer.label}}</button>
                            </div>
                        </div>

                    </div>
                    <div id="tabAllAnswers" class="tab-pane active">
                    </div>

                </div>

            </div>

        </div>
    </div>
</form>