.margin-top{
    margin-top: 0px;
}

@media(max-width:767px){
    .margin-top{
        margin-top: 10px;
    }
}

.questionList-form .list-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.answers {
    min-height:650px;
}

.chart-container {
    max-width: 600px;
    margin: auto;
}