<form class="questionList-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                    <tabset>

                        <tab heading="Your questions">

                            <question-list></question-list>

                        </tab>

                        <tab heading="Your answers">

                            <answers-list></answers-list>

                        </tab>

                    </tabset>

                </div>
            </div>
         </div>
    </div>
</form>

