<form class="questionList-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <button id="btnAdd" type="button" class="btn btn-primary pull-right" ng-click="add()"><span class="glyphicon glyphicon-plus"></span> New question</button>
            <h4>Existing questions:</h4>
            <div class="list-group alternateColor">

                <a ui-sref="question({ id: question._id })" class="list-group-item" ng-repeat="question in questions">{{question.label}}</a>

            </div>
            <button id="btnLoadMore" type="button" class="btn btn-primary" ng-click="loadMore()"><span class="glyphicon glyphicon-download"></span> Load more</button>
        </div>
    </div>
</form>

