<div class="answer-list">

    <div class="list-group list-color">

        <div ng-if="answers.length==0" class="form-group">
            <div class="nothing text-center">
                <h5>
                    No responses
                </h5>
            </div>
        </div>
        <!--/question/view/:questionId/:respondentId/:answerId-->
        <a ui-sref="questionView2({ questionId:question._id })" class="list-group-item"
           ng-repeat="question in questions">{{question.label}} -- {{question.respondents.length}}</a>

    </div>

    <button id="btnLoadMore" type="button" class="btn btn-primary btnLoad" ng-click="loadMore()">
        <span class="glyphicon glyphicon-download"></span> More
    </button>
    <button id="btnLoadLess" type="button" class="btn btn-primary btnLoad" ng-click="loadLess()">
        <span class="glyphicon glyphicon-upload"></span> Less
    </button>

</div>