
.question-form {

}

    .question-form-content  {
        min-height:600px;
    }

    .question-form .panel-group .panel-heading {
        cursor: pointer;
    }

    .question-form .panel-heading {
        font-size: 18px;
        color: #337ab7;
    }

    .question-form a[role=tab] {
        font-size: 18px;
        color: #337ab7;
    }

    .input-like {
        appearance: field;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        background-color: white;
        height:34px;
        border: 1px gray solid;
        text-align: center;
        vertical-align: middle;
        padding-top: 5px;
        overflow: hidden;
    }

@media(max-width:768px){

    .question-form {
        margin-top: 50px;
    }

    .question-form .panel-group {
        margin-bottom: 10px;
    }

    .question-form .panel{
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.chart-container {
    max-width: 600px;
    margin: auto;
}

