<form class="question-form">

    <div class="panel panel-default">

        <div class="panel-body question-form-content">

            <div class="form-group">

                <tabset>

                    <tab heading="Configure">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseFour">
                                    Question
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">

                                        <label>Label:</label>
                                        <textarea type="text" class="form-control" id="txtLabel" name="txtLabel"
                                                  rows="3"
                                                  placeholder="type your question here"
                                                  ng-model="question.label"></textarea>
                                        <label>Details:</label>
                                        <textarea type="text" class="form-control" id="txtDetails" name="txtDetails"
                                                  rows="5"
                                                  placeholder="if necessary, you can insert details here...)"
                                                  ng-model="question.details"></textarea>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseOne">
                                    Answers
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    <div class="dropdown">
                                                        <button class="btn btn-default dropdown-toggle" type="button"
                                                                id="dpdTypeQuestion" data-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                                                            Choose a template...
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dpdTypeQuestion">
                                                            <li ng-repeat="template in templateAnswers.templates"
                                                                ng-click="dpdTypeSelect(template)"><a
                                                                    id="{{template.id}}"
                                                                    href="#">{{template.label}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="question.answers.length==0" class="form-group">
                                            <div class="nothing text-center bg-info">
                                                <h5>
                                                    no answers
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="form-group" as-sortable="sortableOptions"
                                             ng-model="question.answers">
                                            <div class="form-group" ng-repeat="answer in question.answers"
                                                 as-sortable-item>
                                                <div class="input-group">
                                                        <span class="input-group-btn" as-sortable-item-handle>
                                                            <button tabindex="-1" ng-click="" id="btnRemoveItem"
                                                                    type="button"
                                                                    class="btn btn-default"><span tabindex="-1"
                                                                                                  class="glyphicon glyphicon glyphicon-th"></span>
                                                            </button>
                                                        </span>
                                                    <input type="text" class="form-control" ng-model="answer.label"
                                                           placeholder="type your answer here">
                                                        <span class="input-group-btn">
                                                            <button tabindex="-1" ng-click="removeAnswer(answer._id)"
                                                                    id="btnRemoveItem"
                                                                    type="button" class="btn btn-default"><span
                                                                    tabindex="-1"
                                                                    class="glyphicon glyphicon-remove"></span>
                                                            </button>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <button id="btnAddAnswer" type="button" ng-click="addAnswer()"
                                                            class="btn btn-primary btn-block"><span
                                                            class="glyphicon glyphicon-plus"></span> Add answer
                                                    </button>
                                                </div>
                                                <div class="col-xs-0 col-sm-4">

                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <button id="btnSaveTemplate" type="button" ng-click="addAnswer()"
                                                            class="btn btn-primary btn-block"><span
                                                            class="glyphicon glyphicon-plus"></span> Save as template
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse"-->
                                     <!--data-parent="#accordion" data-target="#collapseTwo">-->
                                    <!--Share-->
                                <!--</div>-->
                                <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"-->
                                     <!--aria-labelledby="headingTwo">-->
                                    <!--<div class="panel-body">-->

                                        <!--<div ng-if="question.respondents.length==0" class="form-group">-->
                                            <!--<div class="nothing text-center bg-info">-->
                                                <!--<h5>-->
                                                    <!--no voters-->
                                                <!--</h5>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-group" ng-repeat="respondent in question.respondents">-->
                                            <!--<div class="input-group">-->
                                                <!--<input type="text" class="form-control" ng-model="respondent.email"-->
                                                       <!--placeholder="insert an email here">-->
                                                        <!--<span class="input-group-btn">-->
                                                            <!--<button ng-click="removeRespondent(respondent._id)"-->
                                                                    <!--id="btnRemoveItem"-->
                                                                    <!--type="button" class="btn btn-default"><span-->
                                                                    <!--class="glyphicon glyphicon-remove"></span></button>-->
                                                            <!--<button ng-click="sendTo(respondent._id)" id="btnSendToItem"-->
                                                                    <!--type="button"-->
                                                                    <!--class="btn btn-default"><span-->
                                                                    <!--class="glyphicon glyphicon-envelope"></span>-->
                                                            <!--</button>-->
                                                        <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="row">-->
                                            <!--<div class="col-xs-6 col-sm-4">-->
                                                <!--<button id="btnAddRespondent" type="submit" ng-click="addRespondent()"-->
                                                        <!--class="btn btn-primary btn-block"><span-->
                                                        <!--class="glyphicon glyphicon-plus"></span>-->
                                                    <!--Add voter-->
                                                <!--</button>-->
                                            <!--</div>-->
                                            <!--<div class="col-xs-0 col-sm-4">-->

                                            <!--</div>-->
                                            <!--<div class="col-xs-6 col-sm-4">-->
                                                <!--<button id="btnSend" type="button" ng-click="sendAll()"-->
                                                        <!--class="btn btn-primary btn-block"><span-->
                                                        <!--class="glyphicon glyphicon-envelope"></span> Send to all-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->


                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive" data-toggle="collapse"
                                     data-parent="#accordion" data-target="#collapseFive">
                                    Share
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFive">
                                    <div class="panel-body">

                                        <div ng-if="urlAnswer==undefined" class="form-group">
                                            <div class="nothing text-center bg-info">
                                                <h5>
                                                    You need to save before...
                                                </h5>
                                            </div>
                                        </div>

                                        <div ng-if="urlAnswer!=undefined" class="form-group">

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-2">
                                                    <span>Link to share :</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-8">
                                                    <input type="text" class="form-control" ng-model="urlAnswer">
                                                </div>
                                                <div class="col-xs-12 col-sm-2">
                                                    <button clipboard supported="supported" text="urlAnswer" on-copied="success()" on-error="fail(err)"
                                                            id="btnCopyUrl"
                                                            type="button"
                                                            class="btn btn-primary btn-block"><span class="glyphicon glyphicon-envelope"></span> Copy
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="spacer10"></div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <a href="mailto:">
                                                        <button id="btnSendToItem"
                                                                type="button"
                                                                class="btn btn-primary btn-block"><span class="glyphicon glyphicon-envelope"></span> Share with email
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="col-xs-0 col-sm-4">

                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <a href="sms:">
                                                        <button id="btnSendToItem"
                                                                type="button"
                                                                class="btn btn-primary btn-block"><span class="glyphicon glyphicon-envelope"></span> Share with sms
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!--<div class="panel panel-default">-->
                                <!--<div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse"-->
                                     <!--data-parent="#accordion" data-target="#collapseThree">-->
                                    <!--Options-->
                                <!--</div>-->
                                <!--<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"-->
                                     <!--aria-labelledby="headingThree">-->
                                    <!--<div class="panel-body">-->

                                        <!--auto-end:-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                        <div class="bottom-menu">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3">

                                </div>
                                <div class="col-xs-0 col-sm-6">

                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <button id="btnAdd" type="button" ng-click="save()"
                                            class="btn btn-primary btn-block"><span
                                            class="glyphicon glyphicon-floppy-disk"></span> Save
                                    </button> <!-- ng-disabled="!allowSave" -->
                                </div>
                            </div>
                        </div>

                    </tab>

                    <tab heading="View results">

                        <div class="">
                            <div class="">
                                <span><h5>{{question.label}}</h5></span>
                            </div>
                        </div>

                        <canvas id="pie1" class="chart chart-pie"
                                chart-data="results.data" chart-labels="results.labels" chart-legend="true">
                        </canvas>

                    </tab>

                </tabset>

            </div>

        </div>

    </div>




</form>