
.question-form {

}

    .question-form-content  {
        min-height:600px;
    }

    .question-form .panel-group .panel-heading {
        cursor: pointer;
    }

@media(max-width:768px){

    .question-form {
        margin-top: 50px;
    }

    .question-form .panel-group {
        margin-bottom: 10px;
    }
}

.chart-container {
    max-width: 600px;
    margin: auto;
}