
.panel-default {
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    background-color: #f8f8f8;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 768px) {

    .margin-top{
        margin-top: 10px;
    }

    .panel {
        margin-bottom: 0px;
        border-bottom: none;
    }

    .panel-default, .navbar {
        border-radius: 0px;
    }

    .panel-default {
        border-bottom: none;
    }

    .panel-body {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 5px;
    }

}

@media (min-width: 768px) {

    body  {
        margin-top:10px;
    }

    .panel-default, .navbar {
        border-radius: 5px;
    }

    .panel-default {
        border-bottom: 1px solid #bbb;
    }

    .slide.ng-enter
    {
        position: absolute;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity:0;
    }
    .slide.ng-enter-active
    {
        opacity:1;
    }


    .slide.ng-leave
    {
        position: absolute;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .slide.ng-leave-active
    {
        opacity:0;
    }
}

.nothing {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: #E6E6E6;
}

.list-color a:nth-child(odd) {
    background: #EFF5F7;
}

.list-color a:nth-child(odd):hover {
    background-color: #FDF892;
}

.list-color a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
    background-color: #FDF892;
}

