.question-list {

}

    .question-list .list-group {
        margin-bottom: 5px;
    }

    .question-list .btnLoadMore {
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    
    .question-list .progress {
        margin-bottom:0px;
    }
