<form class="question-list-form">
    <div class="panel panel-default">
        <div class="panel-body question-list-form-content">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                </div>
            </div>
            <div class="form-group">

                    <tabset>

                        <tab heading="Your questions">

                            <button id="btnAdd" type="button" class="btn btn-primary" ng-click="add()">
                                <span class="glyphicon glyphicon-plus"></span> Add question
                            </button>

                            <question-list></question-list>

                        </tab>

                        <tab heading="Your answers">

                            <answers-list></answers-list>

                        </tab>

                    </tabset>

                </div>

         </div>
    </div>
</form>

