<form class="question-list-form">
    <div class="panel panel-default">
        <div class="panel-body question-list-form-content">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                </div>
            </div>
            <div class="form-group">

                    <tabset>

                        <tab heading="Questions" ng-attr-selected="tabSelected==0" ng-click="keep(0);">

                            <question-list></question-list>

                        </tab>

                        <tab heading="Answers" ng-attr-selected="tabSelected==1" ng-click="keep(1);">

                            <answers-list></answers-list>

                        </tab>

                    </tabset>

                </div>

         </div>
    </div>
</form>

