<form class="question-list-form">
    <div class="panel panel-default">
        <div class="panel-body question-list-form-content">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12">

                </div>
            </div>
            <div class="form-group">

                    <tabset obj="focusinControl">

                        <tab heading="Questions" ng-attr-selected="tabSelected==0" ng-click="keep(0);">

                            <div class="row">
                                <div class="col-xs-3 col-sm-3">
                                    <button id="btnAdd" type="button" class="btn btn-primary" ng-click="add()">
                                        <span class="glyphicon glyphicon-plus"></span> Add
                                    </button>
                                </div>
                                <div class="col-xs-0 col-sm-3">
                                </div>
                                <div class="col-xs-9 col-sm-6">
                                    <div class="input-group searchbox">
                                        <input type="text" class="form-control"/>
                                        <span class="input-group-addon" ng-click="search()">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <question-list></question-list>

                        </tab>

                        <tab heading="Answers" ng-attr-selected="tabSelected==1" ng-click="keep(1);">

                            <answers-list></answers-list>

                        </tab>

                    </tabset>

                </div>

         </div>
    </div>
</form>

