<div role="tabpanel">
    <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">{{tabset.activeTab}}</a>
    <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal nav-justified" role="tablist">
        <li role="presentation"
            ng-class="{'active':tab.active, 'disabled':tab.disabled}"
            ng-repeat="tab in tabset.tabs">

            <a href=""
               data-toggle="tab"
               role="tab"
               ng-click="tabset.select(tab,$event)">{{tab.heading}}</a>
        </li>
    </ul>

    <div class="tab-content">
        <ng-transclude>
        </ng-transclude>
    </div>

</div>